.settingsContainer {
    border: 1px solid #1889a8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
}

.inputsContainer {
    margin-top: 5px;
}

.outerP {
    padding: 10px;
}

.borderCounter {
    border: 1px solid #1889a8;
    border-radius: 5px;
}

.val {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #1889a8;
    display: inline-block;
    margin-right: 20px;
}

.maxContainer {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.minContainer {
    display: flex;
    justify-content: space-between;
}

.field {
    font-family: Arial, sans-serif;
    font-weight: bold;
    min-width: 50px;
    border: 2px solid #1889a8;
    border-radius: 5px;
    text-align: center;
}

.errorField {
    background: #db86a5;
    border: 1px solid crimson;
    border-radius: 0;
}

.btn {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    background: #1889a8;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 476px) {
    .containerWidth {
        width: 350px;
    }

    .activeSize {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .containerWidth {
        width: 300px;
    }

    .activeSize {
        font-size: 16px;
    }
}